@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.coding-container {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png);
    height: 90vh;
    width: 65vw;
    padding: 210px 25px;
}

.Head {
    font-family: 'Bree Serif';
    color: white;
    background-color: #00000080;
    border-color: #48ee59;
    border-width: 6px;
    padding: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
}
.heading {
    text-align: center;
}